# Обязательно: получите Client ID на https://dev.twitch.tv/console/apps
TWITCH_CLIENT_ID=your_client_id_here

# Примечание: OAuth-токен не требуется для /helix/streams (публичный эндпоинт)
# TWITCH_OAUTH_TOKEN=
